
.Account {
    display:none;
    margin-bottom: 50px;

    .container {
        h4 {
            color: var(--color-gray-primary)
        }

        width: 95%;

        @include xl {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        form {

            @include xl {
                width: 50%;
            }

            h1 {
                margin-bottom: 0;
            }

            .form-content {
                margin-top: 30px;
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr;
                grid-template-areas: "firstname " "lastname" "email" "phone" "bio" "cancel" "submit";


                @include md {
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "firstname lastname" "email phone" "bio bio" "cancel submit" ;
                }


                .input-firstname {
                    grid-area: firstname;
                }

                .input-lastname {
                    grid-area: lastname;
                }

                .input-email {
                    grid-area: email;
                }

                .input-phone {
                    grid-area: phone;
                }

                .input-bio {
                    grid-area: bio;
                }

                .input-cancel {
                    grid-area: cancel;
                    padding: 1px 6px;
                }

                .input-submit {
                    grid-area: submit;
                    padding: 1px 6px;
                }
            }
        }
    }
}
